{% extends "base.html" %}

{% block content %}
    <h2>Vote Logs</h2>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Choice</th>
                </tr>
            </thead>
            <tbody>
                {% for vote in votes %}
                <tr>
                    <td>{{ vote.user_id }}</td>
                    <td>{{ vote.choice }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Vote Counts</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Choice</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for choice, count in vote_counts.items() %}
                <tr>
                    <td>{{ choice }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="button-container">
        <a href="{{ url_for('download_csv') }}" class="button">Download CSV</a>
        <button class="button delete-button" onclick="confirmDelete()">Delete CSV</button>
    </div>

    <script>
        function confirmDelete() {
    if (confirm("Are you sure you want to delete the votes.csv file? This action cannot be undone.")) {
        window.location.href = "{{ url_for('delete_csv') }}";
    }
}
    </script>
{% endblock %}



